{% extends 'base.html' %}

{% block content %}
<div class="hero bg-base-200 min-h-full">
    <div class="hero-content text-center">
        <div class="max-w-2xl">
            <h1 class="text-5xl font-bold">Білімің — болашағың</h1>
            <p class="py-6">
                NurbekTech — робототехника, бағдарламалау және электроника
                бағыттары бойынша онлайн сабақтар платформасы.
                Кез келген жастағы адамдарға арналған қызықты және
                түсінікті курстар.
            </p>
            <a href="{% url 'courses:courses' %}" class="btn btn-primary btn-lg">
                Сабақтарды көру
            </a>
        </div>
    </div>
</div>
{% endblock %}